.btn-secondary {
    color: black;
    background-color: lightgray;
  }

sup {
  font-size: 0.8em;
  vertical-align: super;
  font-family: 'Arial Unicode MS', sans-serif;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  font-size: 14px;
}

.btn-group > .btn-secondary.active {
  background-color: lightgray;
  border-color: lightgray;
  color: black; /* change the text color */
  box-shadow: none; /* remove the box shadow */
}

.btn-group > .btn-secondary:not(.active) {
  background-color: lightgray; /* change the background color of inactive buttons */
  border-color: lightgray; /* change the border color of inactive buttons */
  color: #C0C0C0; /* change the text color of inactive buttons */
}

.btn-group > .btn-blue.active {
  background-color: lightskyblue;
  border-color: lightgray;
  color: blue; /* change the text color */
  box-shadow: none; /* remove the box shadow */
}

/* .hideBtn {
  display: none;
} */